.solweedpunk_team_details {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

.team {
  width: 300px;
  text-align: center;
}

.team_name {
  text-align: center;
  margin-top: 1.3em;
}

.team_name h3 {
  background: #fff;
  color: #0b0c22;
  font-size: 24px;
}

.team_name p {
  text-align: center;
  font-size: 15px
}

.team_img img {
  width: 160px;
  border-radius: 50%;
}
