ul {
  text-decoration: underline;
}

ul li {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 0.6em 0;
}

li p a {
  text-decoration: none;
  color: #fff;
}

li p a:hover {
  color: #a2b4d2;
}

@media screen and (max-width: 480px) {
  ul li {
    width: 240px;
    margin: 0;
  }

  ul li {
    list-style: none;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }
}
