.nav {
  background: #096b5b;
  height: 11vh;
  transition: all 1s !important;
}

.nav > .nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_items_logo img {
  width: 180px;
}

.nav_items_menus a {
  text-decoration: none;
  padding: 0 1em;
  color: #fff;
  font-size: 15px;
}

.nav_items_menus a:hover {
  color: #a2b4d2;
}

.nav_mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav_web {
    display: none;
  }

  .nav {
    transition: all 1s !important;
    height: 7.5vh;
    padding: 0.2em;
  }

  .nav_mobile {
    display: block;
    transition: all 1s !important;
  }

  .nav_mobile_icon {
    transition: all 1s !important;
  }

  .nav_items_menus {
    background: #096b5b;
    transition: all 1s !important;
    width: 100vw;
  }

  .nav_items_menus a {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    align-items: center;
    transition: all 1s !important;
  }

  .active {
    display: block;
    transition: all 1s !important;
  }

  .disable {
    display: none;
    transition: all 1s !important;
  }
}
