.nav {
  background: #0b0c22;
  height: 11vh;
}

.nav > .nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_items_logo img {
  width: 180px;
}

.nav_items_menus a {
  text-decoration: none;
  padding: 0 1em;
  color: #fff;
  font-size: 15px;
}

.nav_items_menus a:hover {
  color: #a2b4d2;
}

.nav_mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav_web {
    display: none;
  }

  .nav_mobile {
    display: block;
  }

  .nav_items_menus {
    display: block;
    background: #0b0c22;
  }

  .nav_items_menus a {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    align-items: center;
    background: #0b0c22;
    transition: 0.4 ease-in;
  }
}
