.page_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

.page_body_left {
  width: 500px;
}

.page_body_left h1 {
  font-size: 60px;
  color: #fff;
  font-family: "Shizuru", cursive;
}

.page_body_left h2 {
  color: #a2b4d2;
  font-family: "Shizuru", cursive;
}

.page_body_right img {
  width: 360px;
  height: 350px;
  border-radius: 60%;
}

.sol_header,
.sol_roadmap_title,
.toke_img_title,
.solweedpunk_team_title,
.link_title {
  margin-top: 3em;
  color: #fff;
  border-bottom: 10px solid #a2b4d2;
  width: fit-content;
  font-size: 42px;
}

.toke_imgs img {
  width: 180px;
  border-radius: 50%;
  padding: 0 1em;
}

.about_mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_texts {
  width: 600px;
  color: #fff;
  font-size: 16px;
}

.sol_roadmap {
  margin-top: 4em;
}

.toke_toke_img {
  display: flex;
  justify-content: space-evenly;
}

.toke_toke_img img {
  margin-top: 2em;
  width: 160px;
  border-radius: 50%;
}

svg {
  color: #fff;
  margin: 0 0.5em;
}

svg:hover {
  cursor: pointer;
}

.footer_text {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
  color: #a2b4d2;
}

.footer_text p {
  color: #fff;
}

.roadmap_text img {
  width: 300px;
}

@media screen and (max-width: 480px) {

  .landing_page {
    overflow-x: hidden;
  }
  .page_body {
    display: flex;
    flex-direction: column;
  }

  .page_body_left {
    width: fit-content;
  }

  .page_body_left h1 {
    font-size: 42px;
  }

  .about_mission {
    display: flex;
    flex-direction: column;
  }

  .toke_imgs {
    display: flex;
  }

  .about_texts {
    width: fit-content;
    margin-top: 1.6em;
  }

  .toke_toke_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
