.page_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

.page_body_left {
  width: 500px;
}

.page_body_left h1 {
  font-size: 63px;
  color: #fff;
}

.page_body_left h2 {
  color: #a2b4d2;
}

.page_body_right img {
  width: 380px;
  height: 350px;
  border-radius: 60%;
}

.sol_header,
.sol_roadmap_title,
.toke_img_title,
.solweedpunk_team_title {
  margin-top: 4em;
  color: #fff;
  border-bottom: 10px solid #a2b4d2;
  width: 460px;
}

.toke_imgs img {
  width: 200px;
  border-radius: 50%;
  padding: 0 1em;
}

.about_mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_texts {
  width: 600px;
  color: #fff;
}

.sol_roadmap {
  margin-top: 4em;
}

.toke_toke_img {
  display: flex;
  justify-content: space-around;
}

.toke_toke_img img {
  margin-top: 2em;
  width: 200px;
  border-radius: 50%;
}

.solweedpunk_team_details {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.team {
  width: 300px;
  text-align: center;
}

.team_name {
  text-align: center;
  margin-top: 1.3em;
}

.team_name p {
  text-align: center;
}

.team_img img {
  width: 200px;
  border-radius: 50%;
}

svg {
  color: #fff;
  margin: 0 0.5em;
}

svg:hover {
  cursor: pointer;
}
