@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

body {
  background: url("./assets/weedland2\ fog.png") no-repeat center center scroll;
  background-size: cover;
  background-attachment: scroll;
  height: auto;
}

#home,
#about,
#roadmap,
#team,
#links {
  scroll-behavior: smooth !important;
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 480px) {
  body {
    background: url("./assets/weedland2\ fog.png")
      scroll;
    background-size: contain;
    background-attachment: scroll;
    max-height: 100vh;
  }
}
