@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

body {
  background: url("./assets/toke3.png") no-repeat center center scroll;
  background-size: contain;
  background-color: #000;
  background-attachment: scroll;
  height: auto;
}

#home,
#about,
#roadmap,
#team,
#links {
  scroll-behavior: smooth !important;
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 480px) {
  body {
    background: url("./assets/toke3.png") no-repeat center scroll;
    background-color: #000;
    height: 100%;
  }
}
